<div class="containter">
        <div class="row" style="margin: auto">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="aboutUS">
                    <h1 style="margin-bottom: 25px"><u><b>About us</b></u></h1>
                    <p class="aboutUsText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque feugiat arcu vitae fringilla fringilla. Suspendisse eu varius lorem, ut eleifend ligula. Integer tincidunt velit et erat aliquam pellentesque. Vivamus porta arcu in fermentum consequat. Maecenas pellentesque turpis eget ornare hendrerit. Suspendisse ut nulla nec purus malesuada interdum. Nam lacinia, leo ac sagittis fringilla, massa lorem ullamcorper libero, pulvinar lobortis lorem risus in ipsum. Cras lacus ligula, consectetur et pharetra non, dignissim vitae risus. Sed dignissim efficitur neque at feugiat. Integer ultricies a velit nec pellentesque. Curabitur tristique tellus ultrices, tempus tellus at, faucibus mauris. Duis vestibulum odio nec erat sodales, eu ultrices arcu fermentum. Praesent eget sodales libero, sit amet tincidunt ante.</p>
                    <h4>Contact us: petanny@gmail.com</h4>
                </div>
            </div>
            <div class="col-md-3">
                <img class="aboutUsPhoto" src="../images/dogsAboutUs.jpg" alt="dogs">
            </div>
        </div>
</div>