<div class="container" style="align-items:center">
<h1>Sorry, there was an error!</h1>
<h2>Please go back and try again</h2>
<a href="/"><button type="button" class="btn btn-secondary" style=" background-color:#ffb700">Homepage</button></a></h1>
</div>
