<main class="container col-lg-8 col-xl-4">
    <h1 class="text-center">Checkout</h1>


    <h4 class="mt-5">Thank you for taking care of this dog! You will receive a confirmation email shortly.</h4>
</main>