<section class="vh-80">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-7 col-lg-6 col-xl-5">
                <img src="/images/dogos.png" class="img-fluid" alt="Dogos">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5">
                <form id="regForm" action="/register/request" method="post" novalidate>
                    <!-- First and last name -->
                    <div class="row">
                        <div class="form-outline col-md-6 col-sm-6">
                            <label class="reg-label mb-1">
                                <input type="text" id="firstName" class="form-control form-control-lg reg-input" name="firstName" placeholder=" " />
                                <span class="reg-span">First Name</span>
                                <div class="invalid-feedback">
                                    Only letters and spaces allowed!
                                </div>
                            </label>
                        </div>
                        <div class="form-outline col-md-6 col-sm-6">
                            <label class="reg-label mb-1">
                                <input type="text" id="lastName" class="form-control form-control-lg reg-input" name="lastName" placeholder=" " />
                                <span class="reg-span">Last Name</span>
                                <div class="invalid-feedback">
                                    Only letters and spaces allowed!
                                </div>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-outline col-md-6 col-sm-6">
                            <label class="reg-label mb-1">
                                <input type="date" id="dateOfBirth" class="form-control form-control-lg reg-input" name="dateOfBirth" placeholder=" " />
                                <span class="reg-span">Date of birth</span>
                                <div class="invalid-feedback">
                                    Select date of birth!
                                </div>
                            </label>
                        </div>
                        <div class="form-outline col-md-6 col-sm-6">
                            <label class="reg-label mb-1">
                                <input type="number" id="numberOfPets" min="0" class="form-control form-control-lg reg-input" name="numberOfPets" placeholder=" " />
                                <span class="reg-span">Number of Pets</span>
                                <div class="invalid-feedback">
                                    Choose number of pets!
                                </div>
                            </label>
                        </div>
                    </div>

                    <label class="reg-label mb-1">
                        <input type="text" id="location" class="form-control form-control-lg reg-input" name="location" placeholder=" " />
                        <span class="reg-span">City</span>
                        <div class="invalid-feedback">
                            Enter a city!
                        </div>
                    </label>

                    <!-- Username input -->
                    <label class="reg-label mb-1">
                        <input type="text" id="newUsername" class="form-control form-control-lg reg-input" name="username" placeholder=" " />
                        <span class="reg-span">Username</span>
                        <div class="invalid-feedback">
                            Only letters, digits and _ allowed!
                        </div>
                    </label>

                    <!-- Email input -->
                    <label class="reg-label mb-1">
                        <input type="email" id="email" class="form-control form-control-lg reg-input" name="email" placeholder=" " />
                        <span class="reg-span">Email</span>
                        <div class="invalid-feedback">
                            Enter valid email address!
                        </div>
                    </label>

                    <!-- Password input -->
                    <label class="reg-label mb-1">
                        <input type="password" id="newPassword" class="form-control form-control-lg reg-input" name="password" placeholder=" " required/>
                        <span class="reg-span">Password</span>
                        <div class="invalid-feedback">
                            Password must be at least 8 characters!
                        </div>
                    </label>

                    <!-- Confirm password input -->
                    <label class="reg-label">
                        <input type="password" id="password2" class="form-control form-control-lg reg-input" placeholder=" " />
                        <span class="reg-span">Confirm password</span>
                        <div class="invalid-feedback">
                            Passwords don't match!
                        </div>
                    </label>

                    <div class="d-flex justify-content-around align-items-center mb-4">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="termsAndCond" required>
                            <label class="form-check-label" for="termsAndCond">
                                Agree to terms and conditions
                            </label>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-outline-light btn-lg submit">Register</button>
                    </div>
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                    </div>

                </form>

                    <!-- Facebook button -->
                    <div class="d-grid gap-2 mb-4">
                        <a class="btn btn-outline-light btn-lg fb" href="#" role="button">
                            <i class="fab fa-facebook"></i> Continue with Facebook
                        </a>
                    </div>

                    <!-- Twitter button -->
                    <div class="d-grid gap-2 mb-4">
                        <a class="btn btn-outline-light btn-lg" role="button">
                            <i class="fab fa-twitter"></i> Continue with Twitter
                        </a>
                    </div>

                    <!-- Google button -->
                    <div class="d-grid gap-2">
                        <a class="btn btn-outline-light btn-lg" href="#" role="button">
                            <i class="fab fa-google"></i> Continue with Google
                        </a>
                    </div>
            </div>
        </div>
    </div>
</section>

<script>
    var form = document.getElementById("regForm");

    form.addEventListener('submit', function (event) {
        if (!checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }
        form.classList.add('was-validated')
    }, false)

    function checkPasswords() {
        var password = document.getElementById("newPassword");
        var password2 = document.getElementById("password2");
        console.log("First password " + password.value);
        console.log("Second password " + password2.value);
        if(password.value !== '' && password.value.length >= 8 && password.value === password2.value) {
            password.setCustomValidity("");
            password2.setCustomValidity("");
            console.log("Passwords match");
            return true;
        }
        password2.setCustomValidity("Wrong");
        password.setCustomValidity("Wrong");
        console.log("Passwords don't match")
        return false;
    }

    function checkValidity() {
        var name = checkNames();
        var user = checkUsernameReg();
        var empty = isEmpty();
        var email = emailValid();
        var pass = checkPasswords();
        var ck = document.getElementById('termsAndCond');
        return name && user && empty && email && pass && ck.checked;
    }

    function checkNames() {
        let regexName = /^[a-zA-Z\sčšžČŠŽ]+$/;
        var firstName = document.getElementById('firstName');
        var lastName = document.getElementById('lastName');
        var correct = regexName.test(firstName.value) && regexName.test(lastName.value);
        if (correct) {
            firstName.setCustomValidity("")
            lastName.setCustomValidity("")
            return true
        }
        firstName.setCustomValidity("Wrong")
        lastName.setCustomValidity("Wrong")
        return false;
    }

    function checkUsernameReg() {
        let regexUsername = /^[a-zA-Z][a-zA-Z0-9_]+$/;
        var userName = document.getElementById('newUsername');
        if(regexUsername.test(userName.value)) {
            userName.setCustomValidity("");
            return true;
        }
        userName.setCustomValidity("Wrong");
        return false;

    }

    function isEmpty() {
        var date = document.getElementById('dateOfBirth');
        var pets = document.getElementById('numberOfPets');
        var location = document.getElementById('location');

        if(date.value === '' || date.value == undefined) {
            date.setCustomValidity("Wrong");
            date = false;
        } else {
            date.setCustomValidity("");
            date = true;
        }

        if(pets.value === '' || pets.value == undefined) {
            pets.setCustomValidity("Wrong");
            pets = false;
        } else {
            pets.setCustomValidity("");
            pets = true;
        }

        if(location.value === '' || location.value == undefined) {
            let reg = /[a-z][A-Z]/;
            location.setCustomValidity("Wrong");
            location = false;
        } else {
            location.setCustomValidity("");
            location = true;
        }

        return date && pets && location;
    }

    function emailValid() {
        var email = document.getElementById('email');
        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if(emailRegex.test(email.value)) {
            email.setCustomValidity("");
            return true;
        }
        email.setCustomValidity("Wrong");
        return false;
    }
</script>
